*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    padding-top: 79px;
    background-color:  rgb(0, 0, 49);
}

h1{
    color: rgb(230, 190, 16);
    font-size: 3em;
}

.cadastro{
    background-color: #ffffff;
    border: 3px solid  #000000;
    border-radius: 30px;
    width: 30%;
    text-align: left;
    padding: 50px 50px;
    margin: 100px auto;
    font-size: 1.3em;
}

.cadastro div{
    margin-bottom: 50px;
}

.cadastro input{
    margin-top: 5px;
    padding: 10px 50px 10px 10px;
    border-radius: 10px;
    font-size: 80%;
}

footer{
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

button{
    margin-left: 120px;
    padding: 10px 50px;
    font-size: 1.2em;
    background-color: green;
    border: 1px solid green;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(0, 75, 0);
}


@media screen and (max-width: 950px){

    h1{
        color: rgb(230, 190, 16);
        font-size: 3em;
        margin: 0 50px;
    }

    .cadastro{
        width: 60%;
        margin: 54px auto;
    }
}

@media screen and (max-width: 768px){

    h1{
        color: rgb(230, 190, 16);
        font-size: 2.5em;
        margin: 0 30px;
    }


    .cadastro input{
        margin-top: 5px;
        padding: 10px 50px 10px 10px;
        border-radius: 10px;
        font-size: 57%;
    }

    button{
        margin-left: 70px;
    }

    body{
        text-align: center;
        padding-top: 35px;
        background-color:  rgb(0, 0, 49);
    }
}

@media screen and (max-width: 600px){

    h1{
        text-align: justify;
        font-size: 1.69em;
    }

    .cadastro{
        width: 80%;
        padding: 50px 25px;
        margin-bottom: 145px;
    }
}

@media screen and (max-width: 412px){

    .cadastro{
        width: 85%;
        padding: 50px 25px;
        margin-bottom: 69px;
        font-size: 100%;
    }

    .cadastro input{
        margin-top: 5px;
        border-radius: 10px;
        font-size: 1.2em;
        width: 100%;
    }

    button{
        margin-left: 60px;
    }
}